[submodule "configuration"]
	path = configuration
	url = https://github.com/SOOLZZI/configuration.git
[submodule "authentication"]
	path = authentication
	url = https://github.com/SOOLZZI/authentication.git
[submodule "alcohol-service"]
	path = alcohol-service
	url = https://github.com/SOOLZZI/alcohol-service.git
[submodule "recipe-service"]
	path = recipe-service
	url = https://github.com/SOOLZZI/recipe-service.git