[submodule "configuration"]
	path = configuration
	url = https://github.com/SOOLZZI/configuration.git
[submodule "authentication"]
	path = authentication
	url = https://github.com/SOOLZZI/authentication.git
[submodule "alcohol-service"]
	path = alcohol-service
	url = https://github.com/SOOLZZI/alcohol-service.git
[submodule "recipe-service"]
	path = recipe-service
	url = https://github.com/SOOLZZI/recipe-service.git
[submodule "order-service"]
	path = order-service
	url = https://github.com/SOOLZZI/order-service.git
[submodule "user-service"]
	path = user-service
	url = https://github.com/SOOLZZI/user-service.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/SOOLZZI/frontend.git
